<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-body">

                        <div class="row" v-for="message in messages">
                            <div class="col-12">
                                <small class="text-dark"
                                       v-if="message.user_id !== me.id"
                                       v-text="message.user.name"></small>

                                <div class="mb-2 mw-75 p-1 pl-2 pr-2 rounded" style="white-space: pre;"
                                     :class="[message.user_id === me.id ? 'bg-primary float-right text-white' : 'bg-light']"
                                     v-text="message.message"></div>
                            </div>
                        </div>

                        <div class="mb-2 mw-75 p-1 pl-2 pr-2 rounded bg-light"
                             v-if="activePeer" v-text="activePeer.name + ' is typing ...'"></div>

                    </div>

                    <div class="card-footer">

                        <div class="input-group">
                            <textarea class="form-control" placeholder="Type your message (New line: Shift+Enter)"
                                      v-model="newMessage" @keyup.enter="storeMessage" @keydown="typing"></textarea>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        @click="storeMessage">
                                    Send
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <h4>Active participants</h4>

                <ul>

                    <li v-for="participant in participants" v-text="participant.name"></li>

                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: ['dataRoom'],

        data() {
            return {
                me: window.App.user,
                room: this.dataRoom,
                messages: [],
                newMessage: '',
                activePeer: false,
                typingTimer: false,
                participants: []
            };
        },

        computed: {
            channel() {
                return window.Echo.join('chat.room.' + this.room.id);
            }
        },

        created() {

            axios.get('/api/chat/rooms/' + this.room.id)
                .then(response => this.messages = response.data.messages);

            this.channel
                .here(users => {
                    this.participants = users;
                })
                .joining(user => {
                    this.participants.push(user);
                })
                .leaving(user => {
                    this.participants.splice(this.participants.indexOf(user), 1);
                })
                .listen('ChatMessageSent', ({message}) => {
                    this.addMessage(message);
                })
                .listenForWhisper('typing', this.flashTyping);

        },

        methods: {

            flashTyping(e) {
                this.activePeer = e;

                if (this.typingTimer) clearTimeout(this.typingTimer);

                this.typingTimer = setTimeout(() => this.activePeer = false, 3000);
            },

            typing() {
                this.channel.whisper('typing', {name: this.me.name});
            },

            storeMessage(event) {

                if (event.shiftKey && event.keyCode === 13) {
                    event.preventDefault();
                    this.activePeer = false;
                    return false
                }

                if (this.newMessage.trim() === "") {
                    this.activePeer = false;
                    return false;
                }

                this.sendMessage();
            },

            sendMessage() {
                axios.put('/api/chat/rooms/' + this.room.id, {message: this.newMessage.trim()})
                    .then(response => this.addMessage(response.data));
            },

            addMessage(message) {

                this.activePeer = false;

                this.messages.push(message);

                this.newMessage = '';
            }
        }

    }
</script>
