<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card card-default">

                    <div class="card-header">Rooms</div>

                    <div class="card-body btn text-left text-truncate"
                         v-for="room in rooms" @click="openRoom(room.id)"
                         :class="[openedRoom && room.id === openedRoom.id ? 'bg-light' : '']">
                        <span v-for="(participant, index) in room.participants">
                            {{ participant.name }}<span v-if="index !== room.participants.length - 1">,</span>
                        </span>
                        <small v-if="room.last_message" v-text="room.last_message.message"
                               class="d-block text-secondary text-truncate"></small>
                    </div>

                </div>
            </div>

            <div class="col-md-8" v-if="this.openedRoom">

                <div class="card card default">

                    <div class="card-header">head</div>

                    <div class="card-body">

                        <div class="row" v-for="message in messages">
                            <div class="col-12">

                                <small class="text-dark"
                                       v-if="message.user_id !== me.id"
                                       v-text="message.user.name"></small>

                                <div class="mb-2 mw-75 p-1 pl-2 pr-2 rounded" style="white-space: pre;"
                                     :class="[message.user_id === me.id ? 'bg-primary float-right text-white' : 'bg-light']"
                                     v-text="message.message"></div>
                            </div>
                        </div>

                        <div class="mb-2 mw-75 p-1 pl-2 pr-2 rounded bg-light"
                             v-if="activePeer" v-text="activePeer.name + ' is typing ...'"></div>

                    </div>

                    <div class="card-footer">

                        <div class="input-group">
                            <textarea class="form-control" placeholder="Type your message (New line: Shift+Enter)"
                                      v-model="newMessage" @keyup.enter="storeMessage" @keydown="typing"></textarea>

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button"
                                        @click="storeMessage">
                                    Send
                                </button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-2" v-if="this.openedRoom">
                <h4>Active participants</h4>

                <ul>

                    <li v-for="participant in participants" v-text="participant.name"></li>

                </ul>
            </div>

        </div>
    </div>
</template>

<script>
    export default {

        props: [
            'dataRoom'
        ],

        data() {
            return {
                me: window.App.user,
                rooms: [],
                openedRoom: this.dataRoom,
                messages: [],
                newMessage: '',
                activePeer: false,
                typingTimer: false,
                participants: []
            };
        },

        created() {
            this.loadRooms();

            if (this.openedRoom) {
                this.joinToChannel();
                this.loadMessages(this.openedRoom.id);
            }
        },

        methods: {
            loadRooms() {
                axios.get('/api/chat')
                    .then(response => this.rooms = response.data);
            },

            openRoom(room) {
                window.history.pushState({currentRoom: room}, '', '/chat/' + room);

                axios.get('/api/chat/' + room)
                    .then(response => this.openedRoom = response.data);

                this.loadMessages(room);
                this.joinToChannel();
            },

            loadMessages(room) {
                axios.get('/api/chat/' + room + '/messages')
                    .then(response => this.messages = response.data);
            },

            flashTyping(e) {
                this.activePeer = e;

                if (this.typingTimer) clearTimeout(this.typingTimer);

                this.typingTimer = setTimeout(() => this.activePeer = false, 3000);
            },

            typing() {
                this.channel.whisper('typing', {name: this.me.name});
            },

            joinToChannel() {
                this.channel()
                    .here(users => {
                        this.participants = users;
                    })
                    .joining(user => {
                        this.participants.push(user);
                    })
                    .leaving(user => {
                        this.participants.splice(this.participants.indexOf(user), 1);
                    })
                    .listen('ChatMessageSent', ({message}) => {
                        this.addMessage(message);
                    })
                    .listenForWhisper('typing', this.flashTyping);
            },

            channel() {
                return window.Echo.join('chat.' + this.openedRoom.id);
            },

            storeMessage(event) {

                if (event.shiftKey && event.keyCode === 13) {
                    event.preventDefault();
                    this.activePeer = false;
                    return false
                }

                if (this.newMessage.trim() === "") {
                    this.activePeer = false;
                    return false;
                }

                this.sendMessage();
            },

            sendMessage() {
                axios.put('/api/chat/' + this.openedRoom.id, {message: this.newMessage.trim()})
                    .then(response => this.addMessage(response.data));
            },

            addMessage(message) {

                this.activePeer = false;

                this.messages.push(message);

                this.loadRooms();

                this.newMessage = '';
            }

        }

    }
</script>
