<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">

                    <div class="card-header">Users</div>

                    <div class="card-body">

                        <ul>

                            <li v-for="user in users">

                                {{ user.name }}

                                <button type="submit" class="btn btn-primary btn-sm"
                                @click="crossLine(user.id)">chat</button>

                            </li>

                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                users: []
            };
        },

        created() {
            axios.get('/api/users')
                .then(response => this.users = response.data);
        },

        methods: {
            crossLine(partner) {
                axios.post('/api/chat', {partner: partner}).
                    then(response => window.location = response.data.redirect);
            }
        }

    }
</script>
